*{
    box-sizing:border-box;
   /* outline:1px solid ; */
  }
body{
background-color: #2b3648;
color: white ;
height: 100%;
margin: 0;    
background-repeat: no-repeat;
background-attachment: fixed;
}

.wrapper-1{
width:100%;
height:100vh;
display: flex;
flex-direction: column;
background-color: #212936;
}
.wrapper-2{
padding :30px;
text-align:center;
}

.wrapper-2 p{
margin:0;
font-size:1.3em;
color:#aaa;
font-family: 'Source Sans Pro', sans-serif;
letter-spacing:1px;
}
.go-home{
color:#212936;
background:#2196f3;
border:none;
padding:10px 50px;
margin:30px 0;
border-radius:30px;
text-transform:capitalize;
box-shadow: 0 10px 16px 1px #6580ad;
}

@media (min-width:360px){
.go-home{
    margin-bottom:20px;
}
}

@media (min-width:600px){
.content{
max-width:1000px;
margin:0 auto;
}
.wrapper-1{
height: initial;
max-width:620px;
margin:0 auto;
margin-top:50px;
box-shadow: 4px 8px 40px 8px #212936;
}

}

footer{ 
    position:fixed;
    bottom:0px; 
    width:100%; 
    height:50px;
    background:#2196f3;
}

#footer_text{
    text-align: center;
    font-size: 25px;
    font-style: italic;
    padding-top: 4px;
}

#login{
    text-align: center;
    color: #2196f3;
    text-emphasis: bold;
}



.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
margin: 0 0 30px;
padding: 0;
color: #fff;
text-align: center;
}

.login-box .user-box {
position: relative;
}

.login-box .user-box input {
width: 100%;
padding: 10px 0;
font-size: 16px;
color: #fff;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;
}
.login-box .user-box label {
position: absolute;
top:0;
left: 0;
padding: 10px 0;
font-size: 16px;
color: #fff;
pointer-events: none;
transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
top: -20px;
left: 0;
color: #03e9f4;
font-size: 12px;
}

.login-box form a {
position: relative;
display: inline-block;
padding: 10px 20px;
color: #03e9f4;
font-size: 16px;
text-decoration: none;
text-transform: uppercase;
overflow: hidden;
transition: .5s;
margin-top: 40px;
letter-spacing: 4px
}

.login-box a:hover {
background: #03e9f4;
color: #fff;
border-radius: 5px;
box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 100px #03e9f4;
}

.login-box a span {
position: absolute;
display: block;
}

.login-box a span:nth-child(1) {
top: 0;
left: -100%;
width: 100%;
height: 2px;
background: linear-gradient(90deg, transparent, #03e9f4);
animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
0% {
    left: -100%;
}
50%,100% {
    left: 100%;
}
}

.login-box a span:nth-child(2) {
top: -100%;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(180deg, transparent, #03e9f4);
animation: btn-anim2 1s linear infinite;
animation-delay: .25s
}

@keyframes btn-anim2 {
0% {
    top: -100%;
}
50%,100% {
    top: 100%;
}
}

.login-box a span:nth-child(3) {
bottom: 0;
right: -100%;
width: 100%;
height: 2px;
background: linear-gradient(270deg, transparent, #03e9f4);
animation: btn-anim3 1s linear infinite;
animation-delay: .5s
}

@keyframes btn-anim3 {
0% {
    right: -100%;
}
50%,100% {
    right: 100%;
}
}

.login-box a span:nth-child(4) {
bottom: -100%;
left: 0;
width: 2px;
height: 100%;
/* margin-left: 80px; */
background: linear-gradient(360deg, transparent, #03e9f4);
animation: btn-anim4 1s linear infinite;
animation-delay: .75s
}

@keyframes btn-anim4 {
0% {
    bottom: -100%;
}
50%,100% {
    bottom: 100%;
}
}

#submit_button{
    padding-left: 25px;
    align-items: center;
}


.divide-login{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid white; 
    line-height: 0.1em;
    margin: 10px 0 10px; 
}
.divide-or{
    background:#212936; 
    padding:0 10px; 

}
.google-login{
    margin-top:7px; 
    margin-bottom:7px;
    background-color: #2b3648;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    vertical-align: middle;
}
.google-logo-login{
    width: 20px;
    margin-top:7px; 
    margin-bottom:7px;
    margin-right:8px;
    vertical-align: middle;
}

h1{
    text-align: center;
    color: whitesmoke;
}
.google-login{
    padding-left: 18px;
    margin-left: 50px;
}
#submit_button{
    margin-left: 90px;
}